*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    font-family: sans-serif;
}
.wrapper{
    width: 100%;
}
.img-info{
    width: 100%;
}

.img-info h2 {
    padding: 30px 30px 20px;
    font-family: arial;
    font-size: 30px;
    color: #111;
    line-height: 44px;
}
.img-banner{
    display: none;
    
    
}
.img-info p {
    padding: 0px 30px 20px;
    font-family: arial;
    font-size: 15px;
    color: #111;
    line-height: 24px;
}
.img-bax{
    width: 100%;
}

@media only screen and (min-width:768px) {
    .img-banner{
        display: block;
        width: 100%;
        height: 10%;
        padding-bottom: 30px;
    }
    .wrapper{
        width: 600px;
        margin: 0 auto;
    }

    .img-info h2 {
        padding: 20px 0px 0px;
    
    
    }
    .img-info p {
        padding: 20px 0px 0px;
        
    }
    .img-bax{
        padding-top: 30px;
    }

}
@media screen and (min-width:1000px){
    .wrapper{
        width: 900px;
        display: flex;
        flex-basis: 50%;
        gap: 1rem;
    }
    .img-info h2 {
        padding: 20px 0px 0px 30px  ;
    
    
    }
    .img-info p {
        padding: 20px 0px 0px 30px ;
        
    }
}